.date {
  color: white;
}
.tasks {
  gap: 15px;
}
.tasks_page_div {
  margin: 0 auto;
  width: 806px;
  margin: 0 auto;
  background-color: white;
  color: white;
  border-radius: 25px;
  margin: 10px auto;
}
.tasks_div {
  padding: 16px;
  padding-bottom: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task_div img {
  width: 30px;
}
.tasks_div_submit {
  padding: 0 16px 16px;
  display: flex;
  justify-content: center;
  color: "black";
}
.tasks_content {
  padding: 16px;
  padding-top: 0;
}
.tasks_content p {
  background-color: #ebedf0;
  padding: 8px 12px;
  color: #000000;
  opacity: 0.4;
  font-weight: 700;
  line-height: 19.36px;
  font-size: 16px;
  border-radius: 25px;
}
.tasks_div_submit i {
  font-size: 10px;
  border-radius: 25px;
  background-color: white;
  padding: 5px;
  padding-bottom: 3.5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f82f5;
}
.tasks_div_submit textarea {
  background-color: #ebedf0;
  border: 0;
  width: 25px;
  width: 770px;
  border-radius: 25px;
  /* opacity: 20%; */
  font-size: 16px;
  font-weight: 700;
  padding: 6.5px 8px;
  outline: none;
  resize: none;
  padding: 8px 0 8px 12px;
  overflow: hidden;
}
.tasks_div_submit button {
  border: 0;
  background-color: #ebedf0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 8px;
  cursor: pointer;
}

.tasks_div_submit img {
  width: 16px;
  height: 16px;
}
.task_sendData {
  display: flex;
  flex-direction: column;
  background-color: #141414;
  color: white;
  font-weight: 700;
  border-radius: 25px;
  margin: 0 auto;
  width: 806px;
  /* overflow: hidden; */
  padding: 16px;
  margin-bottom: 10px;
}
.sendData_taskTitle {
  background-color: #141414;
  border: 0;
  color: white;
  opacity: 0.5;
  font-size: 32px;
  outline: none;
  margin-bottom: 5px;
}

/* .menu {
  animation: fadeIn 0.2s ease-in-out;
} */
.sendData_taskContent {
  background-color: #141414;
  border: 0;
  color: white;
  opacity: 0.2;
  font-size: 20px;
  /* overflow: hidden; */
  border: 0;
  outline: none;
  margin-bottom: 2px;
}
.sendData_task select {
  border: 0;
  background-color: #141414;
  color: white;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}
.sendData_task p:nth-child(2) {
  background-color: white;
  color: black;
  padding: 4px;
  border-radius: 15px;
}
.sendData_task p:nth-child(3) {
  background-color: red;
  color: black;
  padding: 4px 8px;
  border-radius: 15px;
}
/* .sendData_task i {
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 2px;
  font-size: 13px;
} */
.sendData_submit button {
  border-radius: 25px;
  background-color: #0f82f5;
  padding: 4px 8px;
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.sendData_tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.sendData_task {
  display: flex;
  align-items: center;
  font-size: 16px;
  gap: 20px;
}
.sendData_task img {
  color: red;
}

.first_task_time {
  border-radius: 25px;
  background-color: #ed2709;
  font-size: 20px;
}

.tasks_footer {
  font-size: 16px;
  font-weight: 700;
  color: #ea9127;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.tasks_header {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.second_task_time {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16c784;
  border-radius: 25px;
  padding: 4px 8px 4px 8px;
}
.second_task_time i {
  background-color: white;
  color: #16c784;
  padding: 5px;
  font-size: 15px;
  border-radius: 25px;
  margin-left: 10px;
}
.tasks_teamlead,
.task_admin {
  background-color: white;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  margin-right: 10px;
  height: max-content;
}
.senData_task_inputsForm {
  display: flex;
}
.senData_task_inputsForm input {
  width: 24px;
  height: 16px;
  outline: none;
  background-color: #141414;
  border: 0;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}
.senData_task_inputsForm input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.SendData_fine {
  color: white !important;
}
.SendData_fine input {
  color: white;
  background-color: red;
  border: 0;
  outline: none;
  text-align: center;
  width: 55px;
  font-size: 16px;
  font-weight: 700;
}
