.main {
  max-width: 975px;
  margin: 0 auto;
  padding: 0 20px;
}
hr {
  margin: 0;
}
.date {
  color: white;
  margin-bottom: 10px;
}
.tasks {
  gap: 15px;
  position: relative;
  width: 85%;
}
.tasks_page_div {
  background-color: #141414;
  color: white;
  margin: 0 auto;
  width: 100%;
  max-width: 806px;
  margin: 0 auto;
  border-radius: 25px;
  margin: 10px auto;
  transition: all 1s;
}

.tasks_div {
  padding: 16px;
  /* padding-bottom: 12px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tasks_header {
  width: 71%;
  overflow-wrap: anywhere;
}
.tasks_div_complete {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tasks_div_complete_header {
  display: flex;
  flex-direction: row;
  font-size: black;
}
.tasks_div_complete i {
  color: red;
  cursor: pointer;
  font-size: 24px;
}
.tasks_div_gap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tasks_div_complete_submit {
  display: flex;
  align-items: center;
  gap: 8px;
}
.task_div img {
  width: 30px;
}
.tasks_div_submit {
  padding: 0 16px 16px;
  display: flex;
  justify-content: center;
  color: "black";
}
.tasks_content {
  padding: 16px;
  padding-top: 0;
  transition: all 1s;
}
.tasks_content textarea {
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  overflow: hidden;
  border-radius: 25px;
  background-color: transparent;
  resize: none;
  border: 0;
  font-size: 16px;
  font-weight: 700;
  transition: all 1s;
}
.tasks_content_p {
  display: flex;
  align-items: center;
  background-color: #222226;
  padding: 8px 12px;
  color: #8a8a8a;
  font-weight: 700;
  line-height: 19.36px;
  font-size: 16px;
  border-radius: 25px;
  overflow-wrap: anywhere;
  transition: all 1s;
}
.lightFeed {
  color: "#bcbec0" !important;
  background-color: "#ebedf0" !important;
}
.tasks_div_submit i {
  font-size: 10px;
  border-radius: 25px;
  background-color: red;
  padding: 5px;
  padding-bottom: 3.5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0f82f5;
}
.tasks_div_submit textarea {
  background-color: transparent;
  border: 0;
  width: 25px;
  width: 770px;
  border-radius: 25px;
  /* opacity: 20%; */
  font-size: 16px;
  font-weight: 700;
  padding: 6.5px 8px;
  outline: none;
  resize: none;
  padding: 8px 0 8px 12px;
  overflow: hidden;
}
.tasks_div_submit button {
  border: 0;
  background-color: #ebedf0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-right: 8px;
  cursor: pointer;
}

.tasks_div_submit img {
  width: 16px;
  height: 16px;
}
.task_sendData {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  border-radius: 25px;
  margin: 0 auto;
  /* overflow: hidden; */
  padding: 16px;
  margin-bottom: 10px;
  background-color: #141414;
  color: white;
  transition: all 1s;
}
.sendData_taskTitle {
  border: 0;
  font-size: 32px;
  outline: none;
  margin-bottom: 5px;
  color: white;
  background-color: transparent;
  font-weight: 700;
  transition: all 1s;
}

.sendData_taskContent {
  border: 0;
  font-size: 20px;
  /* overflow: hidden; */
  border: 0;
  outline: none;
  margin-bottom: 2px;
  transition: all 1s;
  background-color: transparent;
  color: white;
  font-weight: 700;
}
.sendData_task select {
  border: 0;
  background-color: #141414;
  color: white;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

.sendData_task p:nth-child(3) {
  background-color: red;
  color: black;
  padding: 4px 8px;
  border-radius: 15px;
}

.sendData_submit button {
  border-radius: 25px;
  background-color: #0f82f5;
  padding: 4px 8px;
  color: white;
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 6px;
  border: 0;
  outline: none;
}

.sendData_tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7px;
}
.sendData_task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 13px;
}
.sendData_task_responsiveTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 13px;
}
.sendData_task_responsiveBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  gap: 13px;
  margin-top: 10px;
}
.sendData_task img {
  color: red;
}

.first_task_time {
  border-radius: 25px;
  background-color: #ed2709;
  font-size: 20px;
}

.tasks_footer {
  font-size: 16px;
  font-weight: 700;
  color: #ea9127;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.tasks_header {
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tasks_header_worker {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
  margin-top: 5px;
}
.tasks_header i {
  color: red;
  cursor: pointer;
}
.second_task_time {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #16c784;
  border-radius: 25px;
  padding: 4px 8px 4px 8px;
  width: 100%;
}
.second_task_time p {
  display: flex;
  align-items: center;
  gap: 8px;
  color: white;
}
.second_task_time i {
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.tasks_teamlead {
  border-radius: 25px;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  margin-right: 10px;
  height: max-content;
  transition: all 1s;
  background-color: #141414;
  color: white;
  width: 15%;
}
.senData_task_inputsForm {
  margin-top: 10px;
}
.senData_task_inputsForm input {
  width: 24px;
  height: 16px;
  outline: none;
  background-color: transparent;
  border: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  transition: all 1s;
  color: white;
}
.senData_task_inputsForm input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.SendData_calendarDate {
  margin-top: 10px;
  background-color: #ea9127;
  padding: 6px 8px;
  border-radius: 15px;
  cursor: pointer;
}
.calendar_general {
  position: absolute;
  z-index: 1;
  top: 155px;
  left: 150px;
}
.calendar_general .react-calendar {
  -webkit-box-shadow: 3px 5px 24px -3px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 5px 24px -3px rgba(66, 68, 90, 1);
  box-shadow: 3px 5px 24px -3px rgba(66, 68, 90, 1);
}
.SendData_fine {
  color: white !important;
}
.Tasks_fine {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white !important;
  margin-top: 10px;
  position: relative;
}
.SendData_fine_div {
  display: flex;
  align-items: center;
  background-color: red;
  border-radius: 25px;
  padding: 4px 8px;
  transition: all 1s;
}

.Tasks_fine_checkbox {
  margin-top: 10px;
  font-size: 14px;
}
.SendData_fine_currency {
  background-color: red !important;
  cursor: pointer;
}
.SendData_fine_currency_dropdown {
  z-index: 1;
  position: absolute;
  top: 40px;
  left: 61.5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: red;
  border-radius: 25px;
  padding: 8px 12px;
}
.SendData_fine_currency_dropdown li {
  cursor: pointer;
}
.SendData_fine input {
  color: white;
  background-color: red;
  border: 0;
  border-radius: 25px;
  padding: 4px 8px;
  padding-left: 0;
  outline: none;
  text-align: center;
  width: 30px;
  font-size: 16px;
  font-weight: 700;
  min-width: 70px;
  transition: all 1s;
}
.react-calendar {
  border-radius: 25px;
  border: 0;
  width: 250px;
  font-size: 17px;
  height: 100%;
  overflow: hidden;
}
.react-calendar__month-view__weekdays {
  display: none !important;
}
.react-calendar__navigation {
  margin-bottom: 5px;
}
.react-calendar__tile {
  padding: 2px 0;
  line-height: 15px;
}
.css-ptiqhd-MuiSvgIcon-root {
  color: white;
  font-weight: 100;
  transition: all 1s;
}
.react-calendar__viewContainer {
  margin-bottom: 5px;
}
.css-1vr111p-option {
  color: black !important;
}
.MuiInputBase-root {
  color: white !important;
}
.MuiSvgIcon-fontSizeMedium {
  font-size: 16px !important;
}
.css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root {
  padding: 0 !important;
}
.MuiListItemIcon-root {
  min-width: 0 !important;
}
.MuiTypography-displayBlock {
  font-size: 16px !important;
}
.MuiSelect-icon {
  color: white !important;
}
.MuiInput-underline:after {
  color: 1px solid white !important;
}
.MuiInput-underline {
  border-bottom: 1px solid white !important;
}
.MuiListItem-button {
  padding: 0 !important;
}
.MuiList-padding {
  padding: 5px 0 !important;
}
.MuiInputBase-input {
  font-size: 16px !important;
}
.makeStyles-formControl-1 {
  margin: 0 !important;
}
.makeStyles-inputLabel-2 {
  transition: all 1s;
  color: white;
}
.light {
  background-color: white !important;
  color: black !important;
}
.lightColor {
  color: black !important;
}
.timer_completed12 {
  width: max-content;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
}
@media screen and (min-width: 480px) and (max-width: 768px) {
}
@media screen and (min-width: 0px) and (max-width: 480px) {
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .tasks_teamlead {
    display: none;
  }
  .tasks {
    width: 100%;
  }
  .tasks_header {
    width: initial;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .sendData_task {
    flex-direction: column;
  }
  .sendData_task_responsiveBottom {
    margin-top: 0;
  }
  .sendData_task {
    align-items: initial;
  }
  /* .sendData_tasks > div {
    width: 50%;
  }
  .sendData_submit button {
    width: 100%;
    justify-content: center;
  } */
  .sendData_tasks {
    flex-direction: column;
  }
  .sendData_taskTitle {
    font-size: 20px;
  }
  .sendData_taskContent {
    font-size: 16px;
  }
  .sendData_submit button {
    width: 100%;
    justify-content: center;
  }
  .sendData_submit {
    width: 100%;
  }
  .tasks_header {
    font-size: 20px;
  }
  .tasks_footer {
    font-size: 14px;
  }
  .second_task_time {
    font-size: 14px;
  }
  .second_task_time i {
    font-size: 22px;
  }
  .tasks_header div {
    max-width: 300px !important;
    overflow-wrap: anywhere;
  }
  .tasks_div_complete_submit {
    flex-direction: column;
  }
}
@media screen and (min-width: 0px) and (max-width: 475px) {
  .tasks_div_complete {
    flex-wrap: wrap;
  }
}
