.sideDropwown {
  /* max-width: 20%; */
  height: 100vh;
  flex-direction: column;
  background-color: white;
}
.sidenav---sidenav---_2tBP {
  position: static;
  height: 100vh;
  padding-top: 10px;
  background-color: #4d9dec;
}
