/* @import "../node_modules/react-pro-sidebar/dist/scss/styles.css"; */
@import "../../../../../node_modules/react-pro-sidebar/dist/css/styles.css";

.statistics {
  max-width: 806px;
  width: 100%;
}
.statististics_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding: 0 20px;
}
.statistics_account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  padding: 16px 20px;
  cursor: pointer;
  transition: all 1s;
  gap: 10px;
}
.statistics_title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
  transition: all 1s;
}
.statistics_account_left {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 100%;
}
.statistics_account_left_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
  gap: 5px;
  margin-right: 20px;
}

.statistics_account_left_button {
  font-size: 13px;
  padding: 2px 4px;
  /* border-radius: 15px; */
  outline: none;
  background-color: #141414;
  border: 0;
  color: deepskyblue;
}
.statistics_account_left_img input {
  font-size: 10px;
  overflow-wrap: break-word;
}
.statistics_account_left_img input[type="file"] {
  overflow: hidden;
  width: 70px;
  color: white;
}
.statistics_account_left_img input[type="file"]::file-selector-button {
  background-color: deepskyblue;
  outline: none;
  border: 0;
  border-radius: 15px;
  color: black;
}
.statistics_account_left_img form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.statistics_account_left img {
  width: 84px;
  height: 84px;
  border-radius: 100%;
}
.statistics_account_info_up {
  display: flex;
  align-items: start;
}
.statistics_account_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.statistics_account_info_up p:first-child {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
  transition: all 1s;
}
.statistics_up {
  margin-top: 2px;
  background-color: #16c784;
  border-radius: 15px;
  color: black;
  font-size: 16px;
  font-weight: 700;
  padding: 2px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.statistics_up svg {
  margin-right: 4px;
}
.statistics_account_info_down {
  font-size: 20px;
  font-weight: 500;
  transition: all 1s;
}
.statistics_account_info_down p {
  transition: all 1s;
}
.statistics_submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  width: 100%;
}
.pro-item-content .statistics_submenu .statistics_submenu_div {
  width: 6%;
  font-size: 20px;
}
.statistics_account .statistics_submenu {
  justify-content: end;
}
.black {
  color: black;
}
.white {
  color: white;
}
.orange {
  color: orange;
}
.blue {
  color: deepskyblue;
}
.pink {
  color: #ff4b8c;
}
.red {
  color: red;
}
/* .statistics_submenu_div {
  margin-right: 20px;
} */
.statistics_graph_left p:first-child {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.5;
  margin-bottom: 8px;
  transition: all 1s;
}
.statistics_graph_left p:last-child {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.statistics_grapgh_info {
  display: flex;
  justify-content: space-between;
  padding: 16px 20px;
}
.statistics_graph {
  border-radius: 16px;
  margin-top: 10px;
  padding-bottom: 10px;
  transition: all 1s;
}

.statistics_graph_right {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.statistics_graph_right i {
  font-size: 16px;
  background-color: #ebedf0;
  padding: 8px;
  border-radius: 8px;
  color: black;
}
.statistics_general {
  padding: 15px;
  color: white;
  border-radius: 25px;
  margin-top: 10px;
  transition: all 1s;
}
.statistics_general h2 {
  opacity: 0.5;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}
.statistics_general p {
  font-size: 16px;
  font-weight: 600;
  margin-top: 6px;
}
.statistics_hours {
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 15px;
  transition: all 1s;
}
.statistics_hours .statistics_hours_div {
  margin-bottom: 10px;
}
.statistics_hours h2 {
  opacity: 0.5;
  font-size: 24px;
  font-weight: 700;
  /* margin-bottom: 10px; */
  padding: 15px;
}
.statistics_hours {
  padding: 5px 20px;
}
.pro-sidebar > .pro-sidebar-inner {
  background-color: #ebedf0;
  border-radius: 25px;
  padding: 0;
}
.pro-sidebar .pro-menu {
  padding: 5px 0;
}
.pro-sidebar-layout {
  background-color: EBEDF0;
}
.pro-sidebar {
  width: 100%;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #ebedf0;
}
.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  border-radius: 25px;
  padding: 0 7px;
  display: flex;
  justify-content: space-between;
}
.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item > div > ul {
  padding: 0;
}
.pro-sidebar
  .pro-menu
  > ul
  > .pro-sub-menu
  > .pro-inner-list-item
  > div:first-child {
  width: 100%;
}
.pro-sidebar > .pro-sidebar-inner > .pro-sidebar-layout {
  overflow: hidden;
}
.statistics_hours_div .pro-item-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .statistics_account_info_down p {
    font-size: 16px;
  }
  .statistics_submenu {
    font-size: 16px;
    min-width: 400px;
  }
  .statistics_graph_left p {
    font-size: 20px !important;
  }
  .statistics_general h2 {
    font-size: 20px;
  }
  .statistics_hours h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .statistics_account_left_img img {
    width: 48px;
    height: 48px;
  }
  .statistics_avata i {
    font-size: 12px;
  }
  .statistics_account_info_up p:first-child {
    font-size: 20px;
  }
  .statistics_account_info_down p {
    font-size: 16px;
  }
  .statistics_up {
    font-size: 12px;
  }
  .statistics_submenu {
    font-size: 16px;
    min-width: 400px;
  }
  .statistics_account {
    flex-direction: column;
  }
  .statistics_account_left {
    justify-content: center;
    width: auto;
  }
  .statistics_account .statistics_submenu {
    justify-content: center;
  }
  .statistics_graph_left p {
    font-size: 20px !important ;
  }
  .pro-item-content .statistics_submenu .statistics_submenu_div {
    width: initial !important;
    font-size: 16px;
  }
  .pro-item-content .statistics_submenu .statistics_submenu_div span {
    font-size: 12px !important;
  }
  .statistics_general h2 {
    font-size: 20px;
  }
  .statistics_hours h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .statistics_account_left_img img {
    width: 48px;
    height: 48px;
  }
  .statistics_avata i {
    font-size: 12px;
  }
  .statistics_account_info_up p:first-child {
    font-size: 20px;
  }
  .statistics_account_info_down p {
    font-size: 16px;
  }
  .statistics_up {
    font-size: 12px;
  }
  .statistics_submenu {
    font-size: 14px;
    min-width: 400px;
  }
  .statistics_account {
    flex-direction: column;
  }
  .statistics_account_left {
    justify-content: center;
    width: auto;
  }
  .statistics_account .statistics_submenu {
    justify-content: center;
  }
  .statistics_graph_left p {
    font-size: 20px !important ;
  }
  .pro-item-content .statistics_submenu .statistics_submenu_div {
    width: initial !important;
    font-size: 16px;
  }
  .pro-item-content .statistics_submenu .statistics_submenu_div span {
    font-size: 12px !important;
  }
  .statistics_general h2 {
    font-size: 20px;
  }
  .statistics_hours h2 {
    font-size: 20px;
  }
}
@media screen and (min-width: 0px) and (max-width: 560px) {
  .statististics_main
    .pro-sidebar
    .pro-menu
    .pro-menu-item
    > .pro-inner-item
    > .pro-item-content {
    overflow-x: scroll;
  }
}
