/* import BackgroundImage from "../../assets/BackgroundImage" */

.page_autorization {
  background-image: url("./Assets/AuthorizationBackground.svg");
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_autorization_main {
  width: 100%;
}
.page_autorization_logo img {
  width: 800px;
  margin: 0 auto 70px;
}

.page_autorization_logo {
  text-align: center;
}

.page_autorization_inputs {
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: max-content;
  margin: 0 auto;
  justify-content: center;
  gap: 10px;
}
.page_autorization_inputs_div {
  background-color: white;
  width: 330px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.page_autorization_inputs input {
  width: 70%;
  height: 100%;
  text-align: center;
  border: 0;
  outline: none;
}
.page_autorization_inputs_div {
  position: relative;
}
.page_autorization_inputs button {
  position: absolute;
  right: 10px;
  width: 32px;
  height: 32px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.page_autorization_inputs button i {
  font-size: 32px;
  border-radius: 100%;
  color: #ea9127;
}
/* .ui.icon.input>i.icon{
  border-radius: 25px;
} */

.page_autorization_footer {
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  transition: 0.5s;
  font-size: 16px;
  font-weight: 300;
  cursor: pointer;
}

.page_autorization_footer:hover {
  transition: 1s;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .page_autorization_logo img {
    width: 600px;
    margin: 0 auto 40px;
  }

  .page_autorization_inputs_div {
    width: 360px;
    height: 54px;
    border-radius: 50px;
  }
  .page_autorization_inputs button i {
    font-size: 48px;
  }
  .page_autorization_inputs button {
    right: 19px;
    top: 12px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .page_autorization_logo img {
    width: 440px;
    margin: 0 auto 28px;
  }
  .page_autorization_inputs_div {
    width: 440px;
    height: 54px;
  }
}
@media screen and (min-width: 360px) and (max-width: 480px) {
  .page_autorization_logo img {
    width: 320px;
    margin: 0 auto 28px;
  }
  .page_autorization_inputs_div {
    width: 320px;
  }
}
