.leaderboard_main {
  display: flex;
  flex-direction: column;
  max-width: 806px;
  width: 100%;
  margin: 0 20px;
}
.leader_date {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  font-weight: 700;
  opacity: 0.7;
  text-align: center;
  /* line-height: 150%; */
  letter-spacing: -0.019em;
  color: white;
  font-size: 16px;
  gap: 27px;
  transition: all 1s;
}
/* .first_date {
  font-size: 20px;

  margin-right: 15px;
}
* + .second_date {
  font-size: 20px;
  opacity: 0.3;
} */

.week {
  margin-left: 15px;
}

/* .leader_page_div {
  margin: 0 auto;
} */

.leader_div {
  display: flex;
  align-items: center;
  background-color: #141414;
  color: white;
  border-radius: 25px;
  justify-content: space-between;
  padding: 16px 20px;
  margin-top: 13px;
  transition: all 1s;
  max-width: 806px;
  width: 100%;
}

.leader_left_div {
  display: flex;
  align-items: center;
}
.first_leader_number {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-right: 20px;
  transition: all 1s;
}

.leader_img {
  margin-right: 20px;
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
}
.leader_img img {
  width: 84px;
  /* max-height: 84px; */
}
.leader_info_header {
  display: flex;
}

.leader_info_header p:first-child {
  font-size: 24px;
  font-weight: 700;
  margin-right: 5px;
  padding-top: 2px;
}

.leader_info_header_icon {
  background-color: #16c784;
  border-radius: 15px;
  padding: 0 5px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.leader_info_header_icon p {
  margin-left: 3px;
}

.leader_info_header_icon svg {
  padding-top: 2px;
}

.leader_info_footer {
  font-size: 20px;
  font-weight: 500;
  margin-top: 6px;
}
.second_leader_number {
  background-color: #cbcbcb;
  color: black;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin-right: 20px;
}
.leader_balance {
  font-size: 20px;
  font-weight: 700;
}
.leader_reduce {
  background-color: red;
}
.third {
  background-color: orange;
}
.fourth {
  background-color: #141414;
  color: white;
}
.responsive_statistics {
  display: none;
}
.Liderboardchannel_calendar {
  position: relative;
  display: flex;
  margin: 13px 0 0;
  justify-content: center;
  color: white;
  font-family: "Inter";
  font-size: 20px;
  font-weight: 700;
}

.liderboard_submenu_calendar {
  position: absolute;
  z-index: 999;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin: auto;
  top: 35px;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .responsive_statistics {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
  }
  .first_leader_number {
    width: 24px;
    height: 24px;
    font-size: 16px;
    margin-right: 8px;
  }
  .leader_info_header p:first-child {
    font-size: 20px;
  }
  .leader_img img {
    width: 48px;
    height: 48px;
  }
  .leader_img {
    margin-right: 8px;
  }
  .leader_info_footer {
    font-size: 16px;
  }
  .leader_left_div .first_leader_number {
    display: none;
  }
  .leader_balance {
    display: none;
  }
  .responsive_statistics .leader_balance {
    display: block;
  }
  .leader_div {
    display: flex;
    flex-direction: column;
  }
}
