.header {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  align-items: center;
  width: 100%;
  max-width: 1214px;
  margin: 0 20px;
  /* min-width: 1000px; */
}

.header_logo img {
  width: 368px;
}

.header_profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header_profile_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 7px 10px;
  border-radius: 25px;
  height: 54px;
  transition: all 1s;
}
.header_profile_buttons i {
  border: 0;
  cursor: pointer;
  font-size: 32px;
}
.header_profile_buttons button {
  border: 0;
}

#profile_button {
  font-family: "Inter";
  width: 267px;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  border: 0;
  margin-left: 12px;
  transition: all 1s;
}

#profile_button p {
  margin-left: 23px;
  margin-bottom: 0;
  font-weight: 600;
  cursor: pointer;
}

#profile_button img {
  margin-right: 3px;
  cursor: pointer;
  width: 46px;
  height: 46px;
  border-radius: 100%;
}
.profile_button_info {
  position: absolute;
  top: 50px;
  left: 105px;
  border-radius: 25px;
  padding: 12px;
  width: 295px;
  margin-top: 5px;
  transition: opacity 1s ease-out;
  z-index: 1;
  transition: all 1s;
}
.profile_button_info_li {
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
}
.profile_button_info_li:first-child {
  margin-top: 0;
}

/* CSS TRANSITION */
.alert-enter {
  opacity: 0;
  transform: scale(0.9);
}

.alert-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}

.alert-exit {
  opacity: 1;
}

.alert-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
.Messenger {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
}
@media screen and (min-width: 480px) and (max-width: 768px) {
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header_logo img {
    width: 320px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .header {
    margin-bottom: 30px;
  }
}
