.employee {
  max-width: 806px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 20px;
  position: relative;
}
.employee_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
  gap: 10px;
}
.employee_header_search {
  width: 100%;
}
.employee_header_search .ui.mini.input {
  width: 100%;
}
.employee_header .ui.input > input {
  border-radius: 25px;
  width: 100%;
  height: 35px;
  /* background-color: #141414; */
}
.employee .employee_header_navbar {
  min-width: 516px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 20px;
  transition: all 1s;
}
.employee_header_navbar_responsive {
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
  border-radius: 25px;
  padding: 8px 16px;
  transition: all 1s;
  display: none;
}
.employee_header_navbar .active {
  opacity: 0.5;
  text-decoration: underline;
}
.employee_header_navbar p {
  cursor: pointer;
}
.employee_header_gift,
.employee_header_create {
  padding: 9.5px 10px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}
.employee_header_gift i,
.employee_header_create i {
  font-size: 16px;
  cursor: pointer;
}
.employee_title {
  margin-left: 20px;
  color: white;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 700;
}
.employee_title p {
  transition: all 1s;
}
.employee_account {
  background-color: #141414;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  padding: 16px 20px;
  width: 100%;
  border: 0;
  cursor: pointer;
  transition: all 1s;
}
.employee_create_employee {
  padding: 16px;
  border-radius: 25px;
  position: absolute;
  right: -1px;
  z-index: 999;
}
.employee_create_employee
  .pro-sidebar
  .pro-menu
  .pro-menu-item
  > .pro-inner-item {
  padding: 2px 35px 2px 10px;
  font-weight: 700;
  color: black;
  opacity: 0.5;
  font-size: 16px;
}
.employee_create_employee form {
  display: flex;
  flex-direction: column;
  width: max-content;
  gap: 6px;
}
.employee_create_employee h1 {
  font-size: 20px;
  font-weight: 700;
}
.employee_create_employee_title {
  font-size: 14px;
  font-weight: 500;
  opacity: 0.3;
  display: flex;
  align-items: center;
  gap: 5px;
}
.employee_create_employee_title_checkbox {
  cursor: pointer;
  transition: all 1s;
}
.employee_create_employee input {
  border: 0;
  background-color: #ebedf0;
  padding: 4px 8px;
  border-radius: 15px;
  outline: none;
  height: 24px;
  font-size: 16px;
  font-weight: 700;
}
.employee_create_employee button {
  background-color: #16c784;
  border-radius: 15px;
  padding: 8px;
  border: 0;
  display: flex;
  align-items: center;
  gap: 4px;
  outline: none;
  margin: 10px auto 0;
  color: white;
  font-size: 16px;
  font-weight: 700;
  width: max-content;
}
.employee_account_left {
  display: flex;
  align-items: center;
}
.employee_account_left div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: self-start;
}
.employee_account_left p {
  margin-left: 24px;
  font-weight: 500;
  gap: 5px;
  display: flex;
  align-items: center;
}
.employee_account_left_position {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 5px;
}
.employee_account_left img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.employee_account_right {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  font-size: 20px;
}
.employee_info {
  display: flex;
  font-size: 20px;
  border-radius: 25px;
  margin-top: 10px;
}
/* .employee_info_addProject {
  display: flex !important;
  flex-direction: row !important;
} */
.employee_info_SelectProjects {
  display: flex;
  gap: 5px;
}
.employee_info p {
  display: flex;
  flex-direction: column;
  gap: 5px;
  word-break: break-all;
}
.employee_info:first-child {
  margin-top: 0;
}
/* .list-item input {
  font-size: 15px;
  width: 150px;
  border-radius: 15px;
  outline: none;
  border: 0;
  padding-left: 10px;
  margin-right: 10px;
} */
/* .wrapper {
  position: relative;
} */
.wrapper .list {
  border-radius: 25px;
  background-color: #141414;
  color: white;
  padding: 16px 20px;
  margin-top: 10px;
  position: relative;
}
.employee_account_list {
  display: flex;
  justify-content: space-between;
  /* position: relative; */
}
.employee_account_list button {
  background-color: red;
  padding: 4px 10px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  width: max-content;
}
.employee_account_list_question {
  position: absolute;
  /* left: 233px;
  top: 49px; */
  left: 0;
  right: 0;
  top: 50px;
  margin: 0 auto;
  max-width: 340px;
  width: 100%;
  /* height: 104px; */
  background-color: #141414;
  border-radius: 25px;
  box-shadow: rgba(205, 173, 173, 0.35) 0px 5px 15px;
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  transition: all 1s;
}
.employee_account_question {
  font-size: 20px;
  font-weight: 700;
}
.employee_account_title {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
}
.employee_account_list_question input {
  width: 100%;
  height: 24px;
  background-color: #ebedf0 !important;
  border: 0;
  outline: none;
}
.employee_account_list_question .input {
  margin-top: 6px;
}
.employee_account_list_question .ui.icon.input > i.icon {
  font-size: 10px;
  width: 16px;
  height: 16px;
  background-color: red;
  border-radius: 100%;
  pointer-events: all;
  color: white;
  cursor: pointer;
  margin: 4px;
  opacity: 1;
  margin-right: 7px;
}
.employee_account_question_input {
  background-color: #ebedf0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  padding: 4px 4px 4px 8px;
}
.submit_delete {
  color: red;
  cursor: pointer;
}
.employee_account_question_input_button {
  background-color: none;
}
.employee_gifts {
  position: absolute;
  box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.1),
    0px 5.39259px 25.4815px rgba(0, 0, 0, 0.0607407),
    0px 1.14074px 6.51852px rgba(0, 0, 0, 0.0392593);
  border-radius: 25px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 452px;
  width: 100%;
  right: -1px;
  gap: 8px;
  z-index: 999;
}
.employee_gifts_title {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  opacity: 0.3;
  gap: 20px;
}
.employee_gifts_title p {
  width: 90px;
  overflow-wrap: break-word;
}
.employee_gifts_notgiven {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  gap: 20px;
}
.employee_gifts_notgiven p {
  width: 90px;
  overflow-wrap: break-word;
}
.employee_gifts_given {
  display: flex;
  font-size: 12px;
  font-weight: 700;
  justify-content: space-between;
  gap: 20px;
}
.employee_gifts_given p {
  width: 90px;
  overflow-wrap: break-word;
}
.employee_gifts_code {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.employee_gifts_button {
  padding: 6px 8px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 700;
  border: 0;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 78px;
  color: white;
}
.employee_header_search .ui.input {
  border: 0;
  outline: none;
}
.employee_create_pproject .pro-inner-list-item ul {
  max-height: 150px;
  overflow-y: scroll;
}
.employee_create_employee .rmsc .dropdown-heading {
  max-width: 269px;
  background-color: #ebedf0;
  border-radius: 25px;
}
.wrapper .list .rmsc .dropdown-heading {
  width: 100%;
  width: 200px;
  max-width: 200px;
  background-color: #ebedf0;
  border-radius: 25px;
  color: black;
}
.wrapper .list .rmsc {
  color: black;
}
.employee .rmsc .dropdown-container {
  border: 0;
}
.employee .rmsc {
  --rmsc-radius: 25px;
}
#EditEmployeesBlocks {
  width: 40%;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
}
@media screen and (min-width: 480px) and (max-width: 768px) {
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .employee_header_navbar_responsive {
    font-size: 14px;
  }
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .employee_account_left img {
    width: 48px;
    height: 48px;
  }
  .employee_account_left_position {
    font-size: 16px;
  }
  .employee_account_left p {
    font-size: 20px;
  }
  .employee_account_right {
    flex-direction: column;
    font-size: 14px;
    gap: 5px;
  }
  .employee_header_navbar {
    display: none !important;
  }
  .employee_header_navbar_responsive {
    display: flex;
    padding: 8px 8px;
  }
  .employee_info {
    font-size: 16px;
  }
  .employee_account_list button {
    content: "spdf";
  }
  .employee_account_list button span {
    display: none;
  }
}
