.main_header {
  display: flex;
  justify-content: center;
}
.headet_navbar {
  /* width: 1000px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 35px auto 30px;
  position: relative;
}
.header_navbar_ul {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  width: 100%;
  max-width: 997px;
}
.header_navbar_ul a {
  border-radius: 25px;
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  transition: all 1s;
}
.dropdown {
  animation: all 1s;
}
.CustomLink:hover {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 25px;
}
/* .dropdown:hover {
  transform: scale(1.2);
} */
.header_navbar_ul li {
  font-size: 20px;
  font-weight: 700;
  color: white;
  /* padding: 5px 10px; */
  transition: all 1s;
}
/* .header_navbar_ul li:hover {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
} */
.responsive_nav {
  display: none;
}
.nav {
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav li.active a {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 25px;
}
.nav li.active {
  transform: scale(1.25);
}
.navbar_dropdown {
  padding: 8px 16px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ea9127;
  width: max-content;
  position: absolute;
  left: 420px;
  top: 40px;
  z-index: 999;
}
.navbar_dropdown li {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.custom_dropdown {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar_dropdonw_Li {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  transition: all 1s;
}
.navbar_dropdonw_Li:hover {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 25px;
}
.navbar_dropdonw_Li:hover + .navbar_dropdown_menu {
  display: flex !important;
}
.navbar_dropdown_menu {
  position: absolute;
  top: 31px;
  display: none !important;
  animation: 1s;
  /* top: 40px;
  left: 591px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 4px 20px;
  background-color: #ea9127;
  transition: all 1s;
  border-radius: 25px;
  z-index: 999;
}
.navbar_dropdown_menu:hover + .navbar_dropdonw_Li {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 25px;
}
.navbar_dropdown_menu:hover {
  display: flex !important;
}
.navbar_dropdown_menu a {
  color: white;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}
.navbar_dropdown_active {
  background-color: #ea9127;
  transition: all 1s;
  border-radius: 25px;
  color: black;
  font-size: 25px;
}
.light_navbar_ul a {
  color: black;
}
.light_navbar_ul p {
  color: black;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
  .header {
    justify-content: center !important;
  }
  .headet_navbar {
    display: none;
  }
  .header_profile {
    display: none !important;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header {
    justify-content: center !important;
  }
  .headet_navbar {
    display: none;
  }
  .header_profile {
    display: none !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .header {
    justify-content: center !important;
  }
  .headet_navbar {
    display: none;
  }
  .header_profile {
    display: none !important;
  }
}
@media screen and (min-width: 0) and (max-width: 1000px) {
  .responsive_nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #141414;
    max-width: 320px;
    width: 100%;
    border-radius: 25px;
    transition: all 1s;
    padding: 0 16px;
    margin: 10px auto;
  }
  .responsive_nav_top {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }
  .header_profile_buttons {
    justify-content: flex-start !important;
  }
  .responsive_nav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 16px 0;
    position: relative;
  }
  .responsive_nav .active {
    background-color: #ea9127 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 25px;
    padding: 10px 0;
  }
  .responsive_nav .active a {
    color: white !important;
  }
  .navbar_dropdown_active {
    display: flex;
    justify-content: center;
    width: 100%;
    color: inherit !important;
  }
  .custom_dropdown {
    width: 100%;
  }
  .navbar_dropdonw_Li:hover {
    background-color: transparent !important;
  }
  .header_profile_buttons i {
    font-size: 28px !important;
  }
  .header_profile_buttons {
    height: 100% !important;
    padding: 0 !important;
  }
  #profile_button {
    height: 100% !important;
    font-size: 16px;
    background-color: transparent;
    justify-content: end !important;
    gap: 8px;
    cursor: initial;
  }
  #profile_button p {
    overflow-wrap: anywhere;
  }
  #profile_button img {
    width: 28px !important;
    height: 28px !important;
  }
  .profile_button_info {
    position: static !important;
    display: flex !important;
    gap: 16px !important;
    flex-direction: row !important;
    margin: 0 auto !important;
    justify-content: center;
    padding: 10px 0 16px !important;
    color: inherit !important;
  }
  .profile_button_info_li {
    font-size: 14px !important;
    margin: 0 !important;
  }
  .header_navbar_ul a {
    font-size: 16px;
    padding: 0 !important;
  }
  .navbar_dropdonw_Li {
    font-size: 16px;
  }
  .responsive_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0 0;
  }
  .navbar_dropdown_menu {
    background-color: transparent;
    padding: 0;
    top: 0;
  }.CustomLink:hover {
    background-color: transparent !important;
  }
}
