body {
  background-color: #222226 !important;
  /* height: 100vh; */
}
.main_header {
  width: 70%;
  margin: 0 auto;
}
.headet_navbar {
  width: 1000px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 35px auto 30px;
  position: relative;
}
.header_navbar_ul {
  display: flex;
  justify-content: space-between;
  gap: 23px;
}
.header_navbar_ul a {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  transition: all 1s;
}
.CustomLink:hover {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
}
.header_navbar_ul li {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  transition: all 1s;
}
/* .header_navbar_ul li:hover {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
} */
.nav {
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav li.active a {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
}
.navbar_dropdown {
  padding: 8px 16px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  background-color: #ea9127;
  width: max-content;
  position: absolute;
  left: 420px;
  top: 40px;
  z-index: 999;
}
.navbar_dropdown li {
  font-size: 16px;
  font-weight: 700;
  color: black;
}
.custom_dropdown {
  cursor: pointer;
}
.navbar_dropdonw_Li {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  transition: all 1s;
}
.navbar_dropdonw_Li:hover {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
}
.navbar_dropdonw_Li:hover + .navbar_dropdown_menu {
  display: flex !important;
}
.navbar_dropdown_menu {
  position: absolute;
  display: none !important;
  animation: 1s;
  /* top: 40px;
  left: 591px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 8px 33px;
  background-color: #ea9127;
  transition: all 1s;
  border-radius: 15px;
  z-index: 999;
}
.navbar_dropdown_menu:hover + .navbar_dropdonw_Li {
  background-color: #ea9127;
  color: black;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
}
.navbar_dropdown_menu:hover {
  display: flex !important;
}
.navbar_dropdown_menu a {
  color: white;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}
.navbar_dropdown_active {
  background-color: #ea9127;
  transition: all 1s;
  border-radius: 15px;
  font-size: 25px;
  color: black;
}
