.sidebar {
  /* flex: 0.35; */
  width: 30%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: white;
  padding: 16px;
  gap: 10px;
}

.sidebar__header {
  display: flex;
  height: 50px;
  padding: 0;
  align-items: center;
  gap: 10px;
}

.sidebar__search {
  background-color: #ebedf0;
  height: 35px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: 700;
}
.sidebar__search i {
  opacity: 0.5;
}
.sidebar__search input {
  background-color: #ebedf0;
  border: 0;
  outline: none;
  width: 100vw;
  font-weight: bold;
}
.sidebar_menu {
  font-size: 36px;
  opacity: 0.4;
}

.sidebar__threads {
  box-sizing: border-box;
  overflow: scroll;
  flex: 1;
  -ms-overflow-style: none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar__threads::-webkit-scrollbar {
  display: none;
}
.sidebar__threads_navbar ul {
  display: flex;
  gap: 30px;
  font-size: 16px;
  font-weight: 700;
}
.sidebar__threads_navbar li {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px;
}
.sidebar__threads_navbar span {
  background-color: #ea9127;
  padding: 4px 9px;
  border-radius: 15px;
  color: white;
  font-size: 16px;
  font-weight: 700;
}
.sidebar .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 0 !important;
}
.sidebar .pro-sidebar {
  color: black !important;
}
.sidebar
  .pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item {
  overflow: hidden !important;
}

.sidebar .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item {
  padding: 0 !important;
}
.sidebar .pro-sidebar > .pro-sidebar-inner {
  background-color: white !important;
  background: white !important;
}
.sidebar .pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: white !important;
}
.sidebar
  .pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item {
  display: block !important;
  padding: 0 !important;
}
.sidebar_sidebar_title {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.6;
}
.sidebar_sidebar_acoounts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 15px;
  transition: all 0.5s;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ebe7fb;
}
.sidebar_sidebar_acoounts:hover {
  background-color: #f0f0f0;
  transition: all 0.5s;
}
.active_chat{
  background-color:#0F82F5;
  
}
.sidebar_accounts_img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar_accounts_img img {
  max-width: 54px;
  max-height: 54px;
  border-radius: 100%;
}
.sidebar_accounts_info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.sidebar_accounts_info_title {
  font-size: 16px;
  font-weight: 700;
}
.sidebar_accounts_info_message {
  font-size: 16px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 230px;
  height: 1.2em;
  white-space: nowrap;
  opacity: 0.5;
}
.sidebar_accounts_notification {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.sidebar_accounts_notification_time {
  font-size: 12px;
  font-weight: 400;
  opacity: 0.5;
}
.sidebar_accounts_notification_num {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ea9127;
  border-radius: 100%;
  padding: 4px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  line-height: 16px;
  letter-spacing: -0.019em;
}
.sidebar .inner-submenu-arrows ul {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
}
.sidebar__bottom_close {
  color: red;
  font-size: 25px;
  cursor: pointer;
}
