.profile {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1210px;
  margin: 0 auto;
}
.profile_header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 50px;
  gap: 10px;
}
.MainLogo {
  width: 398px;
  margin-bottom: 5px;
}

.profile_header_left {
  width: 65%;
}
.profile_header_left p {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}
.profile_back_button {
  display: flex;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  gap: 6px;
}
.profile_back_button p {
  margin: 0;
  opacity: 0.3;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.03em;
  cursor: pointer;
  margin-top: 5px;
  width: max-content;
}
.profile_back_button i {
  margin: 0;
  opacity: 0.3;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.019em;
  cursor: pointer;
  margin-top: 3px;
}
.profile_header_right {
  background-color: #ea9127;
  border-radius: 25px;
  width: 35%;
  padding: 16px 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.profile_header_right_info p {
  font-size: 32px;
  font-weight: 700;
}
.profile_header_right_info_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  cursor: pointer;
}
.profile_header_right_info_footer p {
  font-size: 16px;
  color: white;
  opacity: 0.3;
}
.profile_header_right_img img {
  width: 84px;
  height: 84px;
  border-radius: 100%;
}
.profile_main {
  max-width: 1210px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px auto 0;
  gap: 10px;
}
.profile_title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-left: 20px;
  display: flex;
}
.profile_main_left {
  width: 65%;
}
.profile_main_left_text {
  width: 100%;
  background-color: #141414;
  padding: 15px;
  border-radius: 25px;
  color: white;
  line-height: 120%;
}
.profile_main_left_text h5 {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.3;
}
.profile_main_left_text_div {
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}
.profile_main_left_text_div p {
  text-decoration: none;
}
.profile_main_left_text_div p:first-child {
  overflow-wrap: anywhere;
}
.profile_main_left_text_div p:last-child {
  width: max-content;
}
.profile_main_right {
  width: 35%;
}
.red {
  color: red;
}
.green {
  color: green;
}
.profile_level {
  width: 100%;
}
.profile_level_rank {
  background-color: #ffeaa9;
  border-radius: 25px;
  padding: 16px 20px;
}
.profile_level_rank_progress {
  background-color: white;
  border-radius: 17px;
}
.progress-bar,
.progress-bar-striped,
.progress-bar-animated {
  /* background-color: white; */
  width: 216px;
  height: 20px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.profile_level_rank_info_img {
  display: flex;
  align-items: center;
}
.profile_level_rank_info_img p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
}
.profile_level_rank_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center !important;
}
.profile_level_rank_info_num p {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.profile_progress_num {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}
.profile_progress_num p {
  margin: 0;
  /* color: white; */
  line-height: 150%;
}
.profile_messages {
  display: flex;
  background-color: #141414;
  color: white;
  border-radius: 25px;
  margin-top: 15px;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  font-weight: 700;
}
.profile_balance {
  background-color: #141414;
  color: white;
  border-radius: 25px;
  padding: 16px 20px;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}
.profile_messages p {
  margin-bottom: 0;
  font-size: 20px;
}
.profile_messages p:nth-child(2) {
  text-align: center;
  margin: 0 37px;
  font-size: 16px;
}
.profile_messages p:nth-child(3) {
  opacity: 0.5;
}
.profile_edtForm {
  padding: 16px;
  border-radius: 25px;
  background-color: #141414;
  color: white;
  position: absolute;
  left: 0;
  top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile_edtForm ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.profile_edtForm li {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile_edtForm p {
  font-size: 14px;
  opacity: 0.3;
  font-weight: 400;
}
.profile_edtForm input {
  width: 298px;
  font-size: 16px;
  font-weight: 600;
  opacity: 0.7;
  padding: 4px 10px;
  border-radius: 15px;
  border: 1px solid #16c784;
  outline: none;
}
.profile_form_submit {
  background-color: #16c784;
  border-radius: 15px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 16px;
  font-weight: 700;
  border: none;
  margin-top: 16px;
  color: white;
  cursor: pointer;
}
.form_error {
  margin-top: 10px;
  color: red;
  font-weight: 700;
  font-size: 20px;
}
.admin {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px auto;
}
.admin_statistics {
  width: 65%;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.admin_statistics_title {
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
}
.admin_statistics_info {
  border-radius: 25px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin_statistics_info_teg {
  font-size: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 16px;
}
.admin_statistics_info_teg img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}
.admin_statistics_info_balance {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 20px;
  font-weight: 700;
}
.admin_payments {
  margin-top: 28px;
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.admin_payments_details {
  background-color: #141414;
  color: white;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  border-radius: 25px;
}

.admin_payments_details div {
  background-color: white;
  color: black;
  padding: 4px 8px;
  border-radius: 50px;
  cursor: pointer;
}
.admin_payments_title {
  margin-left: 20px;
  font-size: 24px;
  font-weight: 700;
}
.admin_payments_details_input {
  background-color: white;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  color: black;
  font-size: 20px;
  font-weight: 700;
  width: max-content;
}

.admin_details_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input_enable {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.admin_input_edit {
  background-color: white;
  border: 0;
  color: black;
  font-size: 20px;
  font-weight: 700;
  width: 50px;
  outline: none;
}

.input_enable_onclick {
  display: none;
}
@media screen and (min-width: 1000px) and (max-width: 1080px) {
}
@media screen and (min-width: 768px) and (max-width: 1000px) {
}
@media screen and (min-width: 480px) and (max-width: 768px) {
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .MainLogo {
    width: 320px;
  }
  .profile_header_left_ProfileName {
    font-size: 20px !important;
  }
  .profile_header_right_img img {
    width: 48px;
    height: 48px;
  }
  .admin_statistics_info_teg img {
    width: 48px;
    height: 48px;
  }
  .admin_payments_details p:first-child {
    font-size: 18px;
  }
  .admin_payments_details_input {
    font-size: 18px;
  }
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  .profile_header {
    flex-direction: column;
  }
  .profile_header_right {
    width: 100%;
  }
  .admin {
    flex-direction: column-reverse;
  }
  .admin_payments {
    width: 100%;
  }
  .admin_statistics {
    width: 100%;
  }
  .admin {
    margin: 0 auto;
  }
  .admin_statistics_title {
    margin-bottom: 10px;
  }
  .profile {
    padding-bottom: 20px;
  }
  .profile_main {
    flex-direction: column-reverse;
  }
  .profile_main_right {
    width: 100%;
  }
  .profile_main_left {
    width: 100%;
  }
  .profile_title {
    font-size: 20px;
  }
}
