#active #news button {
  background-color: #ea9127;
  border-radius: 25px;
  padding: 7px 12px;
  transition: 0.5s;
}
#active #news button:hover {
  opacity: 0.5;
  transition: 0.5s;
}
.main {
  display: flex;
  justify-content: center;
}
.news_page {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  max-width: 806px;
  align-items: center;
  padding: 0 20px;
}
.news_page input {
  outline: none;
}
.date {
  font-size: 16px;
  font-weight: 700;
  opacity: 0.5;
  text-align: center;
  margin-bottom: 0 !important;
  transition: all 1s;
}
.newsTitle {
  transition: all 1s;
}
.news_page_titles {
  /* display: flex; */
  /* flex-direction: column; */
  background-color: #141414;
  width: 806px;
  border-radius: 25px;
  padding: 16px;
  justify-content: space-between;
  transition: all 1s;
}

.news_page_titles button {
  display: flex;
  width: 216px;
  height: 27px;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  background-color: #0f82f5;
  border: 0;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  gap: 4px;
}
.news_page_titles_button {
  display: flex;
  align-items: flex-end;
}
.news_page_title_dot {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.news_page_title_dot select {
  background-color: none;
}

.news_page_title_dot textarea {
  font-size: 32px;
  font-weight: 700;
  opacity: 0.5;
  background-color: #141414;
  border: 0;
  color: white;
  opacity: 1;
  outline: none;
  resize: none;
  width: 100%;
}
.news_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
}
.news_page_title_input textarea {
  color: white;
  /* opacity: 0.2; */
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  background-color: #141414;
  border: 0;
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  resize: none;
}
.news_page_title_input {
  display: flex;
  /* width: 100%; */
}
.news_page_title_bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news_page_title_tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: white;
}
.news_page_title_tags .rti--container {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  /* overflow: 0; */
  margin: 0;
  width: 100% !important;
  --rti-border: none;
  overflow: none !important;
  --rti-main: #141414;
  padding-top: 0;
  padding-bottom: 0;
  overflow: hidden;
  word-wrap: break-word;
}
.news_page_title_tags .rti--container:focus-within {
  border: 0;
}
.news_page_title_tags .rti--container .rti--input {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border: 0;
  overflow: 0 !important;
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: none;
  border: 0;
  transition: all 1s;
  border-radius: 0;
  background-color: transparent;
}
/* .news_page_title_tags .light_mode .rti--input {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: black;
  border: 0;
  background-color: white;
  overflow: 0 !important;
  margin: 0;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: all 1s;
} */
.news_page_title_tags .rti--tag {
  background-color: transparent;
  padding-top: 0;
  padding-bottom: 0;
}
.news_page_title_tags button {
  width: 0 !important;
  background-color: transparent;
  width: 5px !important;
  border: 0;
}
.news_page_title_tags .rti--container {
  overflow: none;
  width: 470px;
  padding: 0;
  transition: all 1s;
  outline: none;
  border: 0;
}
.news_page_title_tags p {
  margin-right: 25px;
  transition: all 1s;
}

.news_page_div {
  background-color: #141414;
  width: 100%;
  max-width: 806px;
  border-radius: 25px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 1s;
}
.news_page_div_blue {
  width: 17px;
  height: 16px;
  border-radius: 100%;
  background-color: #0f82f5;
  margin-right: 10px;
}
.news_page_div_dot {
  width: 17px;
  height: 16px;
  border-radius: 100%;
  margin-right: 10px;
}
.news_page_div h1 {
  font-size: 32px;
  font-weight: 700;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news_page_div_content {
  width: 100%;
}
.news_page_div_content p {
  font-size: 32px;
  width: 100%;
  overflow-wrap: anywhere !important;
}
.newsContent {
  transition: all 1s;
}
.news_page_div i {
  font-size: 20px;
  cursor: pointer;
  color: red;
  transition: all 0.5s;
}
.news_page_div i:hover {
  font-size: 30px;
  transition: all 0.5s;
}
.news_page_text {
  display: flex;
  flex-direction: column;
  margin: 10px 0 15px 0;
}
.news_page_text img {
  max-width: 100vw;
  border-radius: 15px;
}
.news_page_text span {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.7;

  margin-right: 0;
  line-height: 150%;
  letter-spacing: -0.019em;
  transition: all 1s;
  overflow-wrap: break-word;
}

.news_page_footer {
  display: flex;
  margin-bottom: 17px;
}
.news_page_footer_p {
  display: flex;
  margin-left: 21px;
  width: 100%;
  overflow-wrap: anywhere;
}
.news_page_footer_p p {
  font-size: 16px;
  font-weight: 700;
  margin-right: 10px;
}
.selCol {
  width: 17px;
  height: 16px;
  border-radius: 100%;
}
.news_page_titles {
  width: 100%;
  position: relative;
}
.news_page_title_dot ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 50px;
  left: 7px;
  padding: 8px 12px;
  border-radius: 15px;
  box-shadow: 10px 5px 5px white;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 50px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 50px 0px rgba(66, 68, 90, 1);
  animation: all 1s;
}
.news_page_title_dot li {
  display: flex;
  font-size: 16px;
  gap: 4px;
  cursor: pointer;
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .news_page_title_dot textarea {
    font-size: 24px;
  }
  .news_page_title_input textarea {
    margin-bottom: 8px;
  }
  .news_page_title_dot {
    margin-bottom: 8px;
  }
  .news_page_div_content p {
    font-size: 24px;
  }
  .news_page_title_bottom {
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }
  .news_page_titles_button {
    width: 100%;
  }
  .news_page_titles_button button {
    width: 100%;
    height: 35px;
  }
  .news_page_text span {
    margin: 8px 0;
  }
}
@media screen and (min-width: 0px) and (max-width: 480px) {
  .date {
    font-size: 14px;
  }
  .news_page_title_dot textarea {
    font-size: 24px;
  }
  .newsContent {
    font-size: 16px;
  }
  .news_page_title_input textarea {
    margin-bottom: 8px;
  }
  .news_page_title_dot {
    margin-bottom: 8px;
  }
  .news_page_div_content p {
    font-size: 20px;
  }
  .news_page_text span {
    font-size: 16px;
  }
  .news_page_title_bottom {
    align-items: start;
    flex-direction: column;
    gap: 8px;
  }
  .news_page_titles_button {
    width: 100%;
  }
  .news_page_titles_button button {
    width: 100%;
    height: 35px;
  }
  .news_page_text span {
    margin: 8px 0;
  }
}
